// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=cyrillic');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

//* { background-color: rgba(255,0,0,.2); }
//* * { background-color: rgba(0,255,0,.2); }
//* * * { background-color: rgba(0,0,255,.2); }
//* * * * { background-color: rgba(255,0,255,.2); }
//* * * * * { background-color: rgba(0,255,255,.2); }
//* * * * * * { background-color: rgba(255,255,0,.2); }
//* * * * * * * { background-color: rgba(255,0,0,.2); }
//* * * * * * * * { background-color: rgba(0,255,0,.2); }
//* * * * * * * * * { background-color: rgba(0,0,255,.2); }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
body {
  background: rgba(135, 205, 223, 0.04);
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: auto;
}
.flex {
  display: flex;
}
.text-right {
  text-align: right;
}


.spinner__wraper {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(101, 165, 191, 0.27);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #002957;
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.home-section__container-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  margin-bottom: 100px;
  padding-top: 40px;
}
.home-section__container {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.home-section__title {
  -webkit-animation: fadeInFromNone 0.5s ease-out,
  slideInFromLeft 0.3s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out,
  slideInFromLeft 0.3s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out,
  slideInFromLeft 0.3s ease-out;
  animation: fadeInFromNone 0.5s ease-out,
  slideInFromLeft 0.3s ease-out;
  color: white;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.86);
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-top: 100px;
  width: 50%;
}
.home-section__text {
  background: rgba(255, 255, 255, 0.75);
  padding: 120px 40px 50px 40px;
  border-radius: 3px;
  font-size: 18px;
  max-width: 600px;
  width: calc(50% - 20px);
  margin: -20px 0 10px 20px;
}
@media (max-width: 1000px) {
  .home-section__container {
    flex-wrap: wrap;
  }
  .home-section__title {
    padding-top: 40px;
    font-size: 30px;
    margin: 10px 20px;
    width: 100%;
    max-width: 100%;
  }
  .home-section__text {
    width: 100%;
    max-width: 100%;
    margin: 10px 20px;
    padding: 30px;
  }
}
.paralax__wrapper .Masthead {
  height: calc(100vh - 90px);
  min-height: calc(100vh - 90px);
}
.paralax__wrapper {
  background: -moz-linear-gradient(90deg, rgba(2,0,36,0.3) 0%, rgba(9,9,121,0.3) 35%, rgba(0,212,255,0.3) 100%);
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,0.3) 0%, rgba(9,9,121,0.3) 35%, rgba(0,212,255,0.3) 100%);
  background: linear-gradient(90deg, rgba(2,0,36,0.3) 0%, rgba(9,9,121,0.3) 35%, rgba(0,212,255,0.3) 100%);
}
.gradient-opac {
}
.container__content {
  position: relative;
  background-color: white;
  min-height: 500px;
  margin-top: -60vh;
  margin-bottom: -50px;
  border-radius: 20px;
  padding: 60px 40px;
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.14);
}
.contacts-container__content {
  margin-top: -50px;
}





.toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9A9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}
.toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}
.toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(76, 188, 9, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

#cbx:checked + .toggle:before {
  background: rgba(86, 212, 10, 0.58);
}
#cbx:checked + .toggle span {
  background: $colorH1;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#cbx:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}














$base-color: #727272;
$base-width: 1020px;
$base-time: 200ms;

$app-padding: 2rem;

$accordion-background-color: #ffffff;
$accordion-max-width: $base-width;
$accordion-padding: 2rem 1rem;
$accordion-border-radius: 0.5rem;
$accordion-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);

$accordion-header-font-size: 1.2rem;
$accordion-header-height: 2rem;
$accordion-header-padding: 1rem 1rem 1rem 1rem;
$accordion-header-border-radius: 0.6rem;
$accordion-header-transition: background-color $base-time ease-in-out;

$accordion-header-hover-background-color: #efefef;

$accordion-caret-color: $base-color;
$accordion-caret-background-image: linear-gradient(
                to top right,
                transparent 50%,
                $accordion-caret-color 50%
);
$accordion-caret-width: 0.5rem;
$accordion-caret-height: 0.5rem;
$accordion-caret-transform: rotate(-45deg);
$accordion-caret-transforming: scale(1.5) rotate(45deg);
$accordion-caret-active-transform: rotate(135deg);

$accordion-body-content-padding: 1rem;



h1, h2 {
  font-weight: 300;
}

.faq__wrapper {
  background-color: #EEF2F9;
  padding: 20px 0 50px 0;
  h1 {
    text-align: center;
    padding: 30px;
  }


  .accordion,
  .accordion-item,
  .accordion-header,
  .accordion-body {
    font-family: inherit;
  }


  .accordion {
    background-color: $accordion-background-color;
    width: 100%;
    max-height: 100%;
    max-width: $accordion-max-width;
    padding: $accordion-padding;
    margin: 20px auto 50px auto;
    box-sizing: border-box;
    overflow: auto;
    box-shadow: $accordion-box-shadow;
  }

  .accordion-item.accordion-active {
    .accordion-caret {
      animation: accordion-is-active $base-time linear forwards;
    }
  }

  .accordion-header {
    color: inherit;
    font-size: $accordion-header-font-size;
    font-weight: bold;
    position: relative;
    a {
      color: inherit;
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      border-radius: $accordion-header-border-radius;
      transition: $accordion-header-transition;
      &:not(.accordion-active):hover {
        background-color: $accordion-header-hover-background-color;
      }
    }
  }

  .accordion-header-div {
    font-weight: 300;
    color: $colorH1;
    padding: $accordion-header-padding;
    &:last-child {
      padding-left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .accordion-caret {
    background-image: $accordion-caret-background-image;
    width: $accordion-caret-width;
    height: $accordion-caret-height;
    transform: $accordion-caret-transform;
    animation: accordion-is-inactive $base-time linear forwards;
  }

  .accordion-body {
    height: 0;
    overflow: hidden;
  }

  .accordion-content {
    color: #333333;
    line-height: 25px;
    margin-bottom: 20px;
    padding: $accordion-body-content-padding;
  }

  @keyframes accordion-is-inactive {
    0%   { transform: $accordion-caret-transform; }
    50%  { transform: $accordion-caret-transforming; }
    100% { transform: $accordion-caret-active-transform; }
  }

  @keyframes accordion-is-active {
    0%   { transform: $accordion-caret-active-transform; }
    50%  { transform: $accordion-caret-transforming; }
    100% { transform: $accordion-caret-transform; }
  }

  @media screen and (min-width: $base-width) {
    .accordion {
      max-height: none;
      border-radius: $accordion-border-radius;
    }
  }

}




#PhotoGallery {
}
#VideoGallery,
#PhotoGallery {
  text-align: center;
  padding-top: 60px;
}
.glide div[data-glide-el="controls"] {
  position: absolute;
  top: 50%;
  width: 100%;
}
.glide div[data-glide-el="controls"] button:active,
.glide div[data-glide-el="controls"] button:focus {
  outline: none;
}
.glide div[data-glide-el="controls"] button {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -23px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.43);
  box-sizing: content-box;
  border: 2px solid #fff;
  border-radius: 33px;
  opacity: .5;
  cursor: pointer;
  padding: 10px;
}
.glide div[data-glide-el="controls"] button:hover {
  opacity: .8;
}
.glide div[data-glide-el="controls"] button[data-glide-dir=">"] {
  right: 10px;
}
.glide div[data-glide-el="controls"] button[data-glide-dir="<"] {
  left: 10px;
}
.glide .glide__bullets{
  margin-top: -10px;
  margin-bottom: 20px;
}
.glide .glide__bullet:active,
.glide .glide__bullet:hover,
.glide .glide__bullet:focus {
  outline: none;
}
.glide .glide__bullet {
  background-color: #ffffff;
  border-radius: 10px;
  width: 10px !important;
  height: 10px !important;
  border: 1px solid rgba(9,9,121,0.9);
  display: inline-block;
  padding: 0;
  margin: 0 5px 0 0;
  cursor: pointer;
}
.glide .glide__bullet.glide__bullet--active {
  //background-color: #9f9f9f;
  background: -moz-linear-gradient(90deg, rgba(2,0,36,0.7) 0%, rgba(9,9,121,0.7) 100%);
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,0.7) 0%, rgba(9,9,121,0.7) 100%);
  background: linear-gradient(90deg, rgba(2,0,36,0.7) 0%, rgba(9,9,121,0.7) 100%);
}
.slide-image {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.18);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid rgba(119, 118, 118, 0.63);
  margin: 10px auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
}
.slide-image:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.product-icon__wrapper,
.category-icon__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.category-icon {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0, 139, 168, 0.11);
  margin: 10px 30px;
  border-radius: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  position: relative;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: all .3s;
  //box-shadow: 0px 0px 20px rgba(33, 150, 243, 0.08);
  text-shadow: 1px 1px 0 rgba(64, 116, 181, 0.57), 1px -1px 0 rgba(64, 116, 181, 0.57), -1px 1px 0 rgba(64, 116, 181, 0.57), -1px -1px 0 rgba(64, 116, 181, 0.57), 1px 0px 0 rgba(64, 116, 181, 0.57), 0px 1px 0 rgba(64, 116, 181, 0.57), -1px 0px 0 rgba(64, 116, 181, 0.57), 0px -1px 0 rgba(64, 116, 181, 0.57);
}
.category-icon-inner {
  background-color: rgba(0, 139, 168, 0.04);
  background: -moz-linear-gradient(90deg, rgba(2,0,36,0.04) 0%, rgba(9,9,121,0.04) 35%, rgba(0, 212, 255, 0.04) 100%);
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,0.04) 0%, rgba(9,9,121,0.04) 35%, rgba(0,212,255,0.04) 100%);
  background: linear-gradient(90deg, rgba(2,0,36,0.04) 0%, rgba(9,9,121,0.04) 35%, rgba(0,212,255,0.04) 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-icon:hover {
  transform: scale(1.07);
}
.category-icon_small {
  width: 60px;
  height: 60px;
}
.category-icon__wrapper-small {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 40px;
  color: rgb(91, 142, 167);
  font-weight: 200;
}
.article__title {
  font-size: 30px;
  color: rgb(91, 142, 167);
  font-weight: 200;
  margin-bottom: 30px;
}
.read-more-link {
  font-weight: bold;
  color: #003176;
  margin-top: 20px;
  display: block;
  cursor: pointer;
}
.article__text {
  font-size: 18px;
  line-height: 28px;
  color: #747373;
}
.category-back {
  height: 30px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .category-icon__wrapper-small {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    color: rgb(91, 142, 167);
    font-weight: 200;
  }
  .category-back {
    height: 20px;
  }
  .container__content {
    padding: 30px 20px;
  }
  .category-icon_small {
    width: 20px;
    height: 20px;
  }
}

.product-card {
  width: 270px;
  height: 310px;
  margin: 10px 20px 40px 20px;
  border-radius: 10px;
  box-shadow: 0 .25rem .25rem rgba(0,0,0,0.1), 0 0 1rem rgba(0,0,0,0.1);
  transition: all 0.2s;
}
.product-card__photo {
  height: 230px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s;
}
.product-card__text {
  padding: 15px;
  background-color: white;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  height: 40px;
}
.product-card:hover,
.product-card:focus{
  transform: scale(1.06);
}

.maps__wrapper {
  width: 100%;
  display: flex;
  padding: 10px 0 10px 0;
}

.maps__map {
  width: 100%;
  height: 400px;
}

.maps__map1 {
  background: url('/img/map.jpg');
  margin-right: 5px;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
}

@media (max-width: 768px) {
  #footer .maps__wrapper {
    flex-wrap: wrap;
  }

  #footer .maps__map {
    width: 100%;
    margin: 5px;
  }
}
