// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=cyrillic');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

//* { background-color: rgba(255,0,0,.2); }
//* * { background-color: rgba(0,255,0,.2); }
//* * * { background-color: rgba(0,0,255,.2); }
//* * * * { background-color: rgba(255,0,255,.2); }
//* * * * * { background-color: rgba(0,255,255,.2); }
//* * * * * * { background-color: rgba(255,255,0,.2); }
//* * * * * * * { background-color: rgba(255,0,0,.2); }
//* * * * * * * * { background-color: rgba(0,255,0,.2); }
//* * * * * * * * * { background-color: rgba(0,0,255,.2); }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
body {
  background: white;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: auto;
}
.flex {
  display: flex;
}
.text-right {
  text-align: right;
}






.toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9A9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}
.toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}
.toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(76, 188, 9, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

#cbx:checked + .toggle:before {
  background: rgba(86, 212, 10, 0.58);
}
#cbx:checked + .toggle span {
  background: #4cbc09;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#cbx:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}














$base-color: #727272;
$base-width: 1020px;
$base-time: 200ms;

$app-padding: 2rem;

$accordion-background-color: #ffffff;
$accordion-max-width: $base-width;
$accordion-padding: 2rem 1rem;
$accordion-border-radius: 0.5rem;
$accordion-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);

$accordion-header-font-size: 1.2rem;
$accordion-header-height: 2rem;
$accordion-header-padding: 1rem 1rem 1rem 1rem;
$accordion-header-border-radius: 0.6rem;
$accordion-header-transition: background-color $base-time ease-in-out;

$accordion-header-hover-background-color: #efefef;

$accordion-caret-color: $base-color;
$accordion-caret-background-image: linear-gradient(
                to top right,
                transparent 50%,
                $accordion-caret-color 50%
);
$accordion-caret-width: 0.5rem;
$accordion-caret-height: 0.5rem;
$accordion-caret-transform: rotate(-45deg);
$accordion-caret-transforming: scale(1.5) rotate(45deg);
$accordion-caret-active-transform: rotate(135deg);

$accordion-body-content-padding: 1rem;

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");



.faq__wrapper {
  background-color: #EEF2F9;
  padding: 20px 0 50px 0;
  h1 {
    text-align: center;
    padding: 30px;
  }


  .accordion,
  .accordion-item,
  .accordion-header,
  .accordion-body {
    font-family: inherit;
  }


  .accordion {
    background-color: $accordion-background-color;
    width: 100%;
    max-height: 100%;
    max-width: $accordion-max-width;
    padding: $accordion-padding;
    margin: 20px auto 50px auto;
    box-sizing: border-box;
    overflow: auto;
    box-shadow: $accordion-box-shadow;
  }

  .accordion-item.accordion-active {
    .accordion-caret {
      animation: accordion-is-active $base-time linear forwards;
    }
  }

  .accordion-header {
    color: inherit;
    font-size: $accordion-header-font-size;
    font-weight: bold;
    position: relative;
    a {
      color: inherit;
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      border-radius: $accordion-header-border-radius;
      transition: $accordion-header-transition;
      &:not(.accordion-active):hover {
        background-color: $accordion-header-hover-background-color;
      }
    }
  }

  .accordion-header-div {
    padding: $accordion-header-padding;
    &:last-child {
      padding-left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .accordion-caret {
    background-image: $accordion-caret-background-image;
    width: $accordion-caret-width;
    height: $accordion-caret-height;
    transform: $accordion-caret-transform;
    animation: accordion-is-inactive $base-time linear forwards;
  }

  .accordion-body {
    height: 0;
    overflow: hidden;
  }

  .accordion-content {
    padding: $accordion-body-content-padding;
  }

  @keyframes accordion-is-inactive {
    0%   { transform: $accordion-caret-transform; }
    50%  { transform: $accordion-caret-transforming; }
    100% { transform: $accordion-caret-active-transform; }
  }

  @keyframes accordion-is-active {
    0%   { transform: $accordion-caret-active-transform; }
    50%  { transform: $accordion-caret-transforming; }
    100% { transform: $accordion-caret-transform; }
  }

  @media screen and (min-width: $base-width) {
    .accordion {
      max-height: none;
      border-radius: $accordion-border-radius;
    }
  }

}




#PhotoGallery {
  padding-top: 30px;
}
#VideoGallery,
#PhotoGallery {
  text-align: center;
}
.glide div[data-glide-el="controls"] {
  position: absolute;
  top: 50%;
  width: 100%;
}
.glide div[data-glide-el="controls"] button:active,
.glide div[data-glide-el="controls"] button:focus {
  outline: none;
}
.glide div[data-glide-el="controls"] button {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -23px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.43);
  box-sizing: content-box;
  border: 2px solid #fff;
  border-radius: 33px;
  opacity: .5;
  cursor: pointer;
  padding: 10px;
}
.glide div[data-glide-el="controls"] button:hover {
  opacity: .8;
}
.glide div[data-glide-el="controls"] button[data-glide-dir=">"] {
  right: 10px;
}
.glide div[data-glide-el="controls"] button[data-glide-dir="<"] {
  left: 10px;
}
.glide .glide__bullets{
  margin-top: -10px;
  margin-bottom: 20px;
}
.glide .glide__bullet:active,
.glide .glide__bullet:hover,
.glide .glide__bullet:focus {
  outline: none;
}
.glide .glide__bullet {
  background-color: #ffffff;
  border-radius: 10px;
  width: 10px !important;
  height: 10px !important;
  border: 1px solid #cccccc;
  display: inline-block;
  padding: 0;
  margin: 0 5px 0 0;
  cursor: pointer;
}
.glide .glide__bullet.glide__bullet--active {
  background-color: #9f9f9f;
}
.slide-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid rgba(226, 225, 225, 0.63);
  margin: 10px auto;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
}
.slide-image:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
