@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=cyrillic);@import url(https://fonts.googleapis.com/css?family=Montserrat:400,400i,700);html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

body {
  background: white;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

.flex {
  display: flex;
}

.text-right {
  text-align: right;
}

.toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9A9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}

.toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(76, 188, 9, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

#cbx:checked + .toggle:before {
  background: rgba(86, 212, 10, 0.58);
}

#cbx:checked + .toggle span {
  background: #4cbc09;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

#cbx:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

.faq__wrapper {
  background-color: #EEF2F9;
  padding: 20px 0 50px 0;
}

.faq__wrapper h1 {
  text-align: center;
  padding: 30px;
}

.faq__wrapper .accordion,
.faq__wrapper .accordion-item,
.faq__wrapper .accordion-header,
.faq__wrapper .accordion-body {
  font-family: inherit;
}

.faq__wrapper .accordion {
  background-color: #ffffff;
  width: 100%;
  max-height: 100%;
  max-width: 1020px;
  padding: 2rem 1rem;
  margin: 20px auto 50px auto;
  box-sizing: border-box;
  overflow: auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.faq__wrapper .accordion-item.accordion-active .accordion-caret {
  -webkit-animation: accordion-is-active 200ms linear forwards;
          animation: accordion-is-active 200ms linear forwards;
}

.faq__wrapper .accordion-header {
  color: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
}

.faq__wrapper .accordion-header a {
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 0.6rem;
  transition: background-color 200ms ease-in-out;
}

.faq__wrapper .accordion-header a:not(.accordion-active):hover {
  background-color: #efefef;
}

.faq__wrapper .accordion-header-div {
  padding: 1rem 1rem 1rem 1rem;
}

.faq__wrapper .accordion-header-div:last-child {
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq__wrapper .accordion-caret {
  background-image: linear-gradient(to top right, transparent 50%, #727272 50%);
  width: 0.5rem;
  height: 0.5rem;
  transform: rotate(-45deg);
  -webkit-animation: accordion-is-inactive 200ms linear forwards;
          animation: accordion-is-inactive 200ms linear forwards;
}

.faq__wrapper .accordion-body {
  height: 0;
  overflow: hidden;
}

.faq__wrapper .accordion-content {
  padding: 1rem;
}

@-webkit-keyframes accordion-is-inactive {
  0% {
    transform: rotate(-45deg);
  }

  50% {
    transform: scale(1.5) rotate(45deg);
  }

  100% {
    transform: rotate(135deg);
  }
}

@keyframes accordion-is-inactive {
  0% {
    transform: rotate(-45deg);
  }

  50% {
    transform: scale(1.5) rotate(45deg);
  }

  100% {
    transform: rotate(135deg);
  }
}

@-webkit-keyframes accordion-is-active {
  0% {
    transform: rotate(135deg);
  }

  50% {
    transform: scale(1.5) rotate(45deg);
  }

  100% {
    transform: rotate(-45deg);
  }
}

@keyframes accordion-is-active {
  0% {
    transform: rotate(135deg);
  }

  50% {
    transform: scale(1.5) rotate(45deg);
  }

  100% {
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: 1020px) {
  .faq__wrapper .accordion {
    max-height: none;
    border-radius: 0.5rem;
  }
}

#PhotoGallery {
  padding-top: 30px;
}

#VideoGallery,
#PhotoGallery {
  text-align: center;
}

.glide div[data-glide-el=controls] {
  position: absolute;
  top: 50%;
  width: 100%;
}

.glide div[data-glide-el=controls] button:active,
.glide div[data-glide-el=controls] button:focus {
  outline: none;
}

.glide div[data-glide-el=controls] button {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -23px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.43);
  box-sizing: content-box;
  border: 2px solid #fff;
  border-radius: 33px;
  opacity: 0.5;
  cursor: pointer;
  padding: 10px;
}

.glide div[data-glide-el=controls] button:hover {
  opacity: 0.8;
}

.glide div[data-glide-el=controls] button[data-glide-dir=">"] {
  right: 10px;
}

.glide div[data-glide-el=controls] button[data-glide-dir="<"] {
  left: 10px;
}

.glide .glide__bullets {
  margin-top: -10px;
  margin-bottom: 20px;
}

.glide .glide__bullet:active,
.glide .glide__bullet:hover,
.glide .glide__bullet:focus {
  outline: none;
}

.glide .glide__bullet {
  background-color: #ffffff;
  border-radius: 10px;
  width: 10px !important;
  height: 10px !important;
  border: 1px solid #cccccc;
  display: inline-block;
  padding: 0;
  margin: 0 5px 0 0;
  cursor: pointer;
}

.glide .glide__bullet.glide__bullet--active {
  background-color: #9f9f9f;
}

.slide-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid rgba(226, 225, 225, 0.63);
  margin: 10px auto;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
}

.slide-image:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

